
body, html {

    background-color:#927759 ;

}

header {
    background-color: #927759;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}


.logo { 
    position: absolute; /* Position absolue par rapport au parent */
    height: 179px;      /* Augmenter la hauteur pour agrandir */
    width: 322;        /* Garde le ratio d'aspect naturel de l'image */
}
nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #927759;
    border-radius: 5px;
}


.hero {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3FvZHo4eG12bmlwbmVsZWZueGZvYzc3c29odGF3eTF5eHd2c2FweiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0HlH51Dpq7tazkt2/giphy.webp");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}


.section {
    padding: 1px;
    place-items: center;
    background-color: #927759;
    
}

.section h2 {

    padding: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Arial';
    font-size: 30px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}


footer .instagram {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .instagram img, .instagram-logo svg {
    width: 50px;
    height: 50px;
    border-radius: 10px; 
}

footer .instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Section GPS */
.gps-section {
    margin: 40px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 2px solid #927759;
    border-radius: 10px;
    text-align: center;
}

.gps-section h3 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
    color: #333;
}

.gps-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.gps-section input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.gps-section input[type="submit"] {
    background-color: #927759;              /*couleur de fond */
    color: #fff;
    padding:10px;                  /*espacement bouton*/
    border: none;
    border-radius: 5px;         /*coins arrondis */
    cursor: pointer;            /*curseur interactif*/
    font-size: 1em;
}

.gps-section input[type="submit"]:hover {
    background-color: #7d6453;    /*couleur plus foncée au survol */
}
