body, html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: grey;
}

.header {
    position: relative;
    background-image: url('https://www.zoo-parc.fr/files/2016/06/cropped-planete-sauvage-saimir-animaux-guide-1.jpg');
    background-size: cover;
    background-position: center;
    height: 25vh; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-title {
    position: absolute;
    font-size: 2.5rem; /* Ajustez la taille du texte selon vos besoins */
    text-align: center;
   border-radius: 5px;
}
/* Navigation */
nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #927759;
    border-radius: 5px;
}

/* Section des avis */
.reviews {
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

.reviews h2 {
    text-align: center;
    color: black;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.review-form {
    margin-bottom: 30px;
}

.review-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.review-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    min-height: 100px;
    max-width: 100%;
}

.review-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-form button:hover {
    background-color: #45a049;
}

/* Liste des avis */
.reviews-list {
    margin-top: 30px;
}

.reviews-list h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 20px;
}

.review-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card p {
    font-style: italic;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.review-card h4 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 5px;
}

.review-card small {
    font-size: 0.8em;
    color: #777;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
