/* Réinitialisation et styles de base */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: grey;
}

/* En-tête */
.header {
    position: relative;
    background-color:#927759;
    background-size: cover;
    background-position: center;
    height: 30vh; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-title {
    position: absolute;
    font-size: 2.5rem; /* Ajustez la taille du texte selon vos besoins */
    text-align: center;
    border-radius: 5px;
}

/* Menu de navigation */
nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #927759;
}

/* Section des avis */
.reviews {
    margin-top: 30px;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Formulaire pour ajouter un avis */
.review-form {
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    resize: vertical;
    margin-bottom: 10px;
}

textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Liste des avis */
.reviews-list {
    margin-top: 20px;
}

.review-card {
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.review-card p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
}

.review-card h4 {
    font-size: 1.3rem;
    color: #333;
    margin-top: 10px;
}

.review-card small {
    color: gray;
    font-size: 0.9rem;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}

footer .instagram {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .instagram img, .instagram-logo svg {
    width: 50px;
    height: 50px;
    border-radius: 10px; /* Ajoute des coins arrondis */
}

footer .instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre au survol */
}
