/* style.css */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: grey;
}

.header {
    position: relative;
    background-image:('https://github.com/arnaudglorian/projet-webdev/blob/main/photo/singe%20nav.jpg?raw=true'); 
    background-size: cover;
    background-position: center;
    height: 25vh; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-title {
    position: absolute;
    font-size: 2.5rem; /* Ajustez la taille du texte selon vos besoins */
    text-align: center;
   border-radius: 5px;
}

/* Menu de navigation */

nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #927759;
}

/* Tarifs*/
.main-content {
    padding: 20px;
}

.tarifs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.price-card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    transition: transform 0.3s;
}

.price-card:hover {
    transform: scale(1.05); /* Légère mise en avant au survol */
}

.price-card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.price-card p {
    margin: 5px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #555;
}


.price-card.adultes {
    background-color: #A9A9A9; 
    color: white; /* Texte en blanc */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}


.price-card.enfants {
    background-color: #A9A9A9; 
    color: white;
}

.price-card.enfants .button{
    border-radius: 10px ;
}

.price-card.train {
    background-color: #A9A9A9; 
    color: white;
}

.price-card.train .button{
    border-radius: 10px ;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}


footer .instagram {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .instagram img, .instagram-logo svg {
    width: 50px;
    height: 50px;
    border-radius: 10px; /* Ajoute des coins arrondis (utile pour les images) */
}

footer .instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre au survol */
}


    
    .Horaires {
       
            background-color: #A9A9A9; 
            color: white;
            text-align:center;
            

        
    
}

