.btn-connexion {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float:right;
}

/* Style pour la fenêtre modale */
.modal {
    display: none; /* Masquée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}
.modal2 {
    display: none; /* Masquée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}
/* Contenu de la modale */
.modal-content {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}
.modal-content2 {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}
/* Bouton de fermeture de la modale */
.close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.modal-content2 input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal-content input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal-content .login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-deconnexion{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float:right;
}