:root{
    --primary-color: #8b00e7;
}
 
body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    --padding-x: 36px;
    --padding-y: 42;
    width: 46.875rem;
    height: 31.25rem;
    background-color: #F4F7FD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: var(--padding-y) var(--padding-x); 
}


.form-section{
    position: relative;
    font-size: 16px;
}

.form-section > [class*='-section'], .form-section .intput-row{
    width: 100%;
    margin-top: 16px;
}

.form-section .intput-row{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.form-section .card-numer-section{
    position: relative;
    margin-top: 32px;
}

.form-section .card-csv-section .info-bubble{
    position: ansolute;
    right: .375rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: default;
}

.card-expiry-section{
    flex-basis: 100%;
}

.card-expiry-section .input{
    display: flex;
    justify-content: space-between;
}

.card-expiry-section .input input{
    flex-basis: 42%;
}

.form-section [class*='-section'] label {
    font-weight: 500;
}

.form-section .input{
    width: 100%;
    margin-top: .5rem;
}

.form-section .input input{
    width: 100%;
    font-size: 1.25rem;
    padding: .25rem .12rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(66,66,66);
    background-color: transparent; 
}

.form-section .input.invalid{
    border-color: red;
}

.form-section input::placeholder{
    opacity: .5;
}

.form-section .input input:focus{
    border-bottom:1.5px solid rgb(0.0.0); 
}

.form-section .payment-btn{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .3125rem;
    border: none;
    background-color: transparent;
    border-radius: .5rem;
    font-size: 1.125rem;
    cursor: pointer;
    padding: .75rem 1.5rem .75rem 0;
    margin-top: 2rem;
    transition: all ease-in-out 200ms;
}

.form-section .payment-btn .btn-icon{
    color: currentColor;
    transition:  all ease-in-out 200ms;
}