

/* Page Globale */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: grey;
}

/* En-Tête */

.header {
    position: relative;
    background-image: url('https://www.zoo-parc.fr/files/2016/06/cropped-planete-sauvage-saimir-animaux-guide-1.jpg');
    background-size: cover;
    background-position: center;
    height: 25vh; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Menu de navigation */

nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #927759;
}


.ListeAnimaux {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}





