/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
.header {
    background-color: #927759;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Contenu principal */
.main-content {
    padding: 2rem;
    text-align: center;
}

/* Galerie d'images */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacement horizontal entre les images */
    flex-wrap: wrap; /* Permet aux images de se déplacer sur plusieurs lignes */
    row-gap: 2rem; /* Espacement vertical entre les lignes d'images */
}

.image-container {
    position: relative;
    width: 300px;  /* Taille fixe du conteneur d'image */
    margin: 10px;  /* Ajoute de l'espace autour de chaque image */
}

.image-container img {
    width: 300px;  /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    object-fit: cover; /* Maintien de la proportion de l'image sans déformation */
    border: 2px solid #FFA500;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

/* Étiquette de l'image */
.image-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container:hover .image-label {
    opacity: 1;
}

nav {
    text-align: center;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #927759;
}

/* Contenu principal */
.main-content2 {
    padding: 2rem;
    text-align: center;
}

/* Galerie d'images */
.image-gallery2 {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacement horizontal entre les images */
    flex-wrap: wrap; /* Permet aux images de se déplacer sur plusieurs lignes */
    row-gap: 2rem; /* Espacement vertical entre les lignes d'images */
}

.image-container2 {
    position: relative;
    width: 300px;  /* Taille fixe du conteneur d'image */
    margin: 10px;  /* Ajoute de l'espace autour de chaque image */
}

.image-container2 img {
    width: 300px;  /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    object-fit: cover; /* Maintien de la proportion de l'image sans déformation */
    border: 2px solid green;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-container2 img:hover {
    transform: scale(1.1);
}

/* Étiquette de l'image */
.image-label2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container2:hover .image-label2 {
    opacity: 1;
}


/* Contenu principal */
.main-content3 {
    padding: 2rem;
    text-align: center;
}

/* Galerie d'images */
.image-gallery3 {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacement horizontal entre les images */
    flex-wrap: wrap; /* Permet aux images de se déplacer sur plusieurs lignes */
    row-gap: 2rem; /* Espacement vertical entre les lignes d'images */
}

.image-container3 {
    position: relative;
    width: 300px;  /* Taille fixe du conteneur d'image */
    margin: 10px;  /* Ajoute de l'espace autour de chaque image */
}

.image-container3 img {
    width: 300px;  /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    object-fit: cover; /* Maintien de la proportion de l'image sans déformation */
    border: 2px solid blue;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-container3 img:hover {
    transform: scale(1.1);
}

/* Étiquette de l'image */
.image-label3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container3:hover .image-label3 {
    opacity: 1;
}

.main-content4 {
    padding: 2rem;
    text-align: center;
}

/* Galerie d'images */
.image-gallery4 {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacement horizontal entre les images */
    flex-wrap: wrap; /* Permet aux images de se déplacer sur plusieurs lignes */
    row-gap: 2rem; /* Espacement vertical entre les lignes d'images */
}

.image-container4 {
    position: relative;
    width: 300px;  /* Taille fixe du conteneur d'image */
    margin: 10px;  /* Ajoute de l'espace autour de chaque image */
}

.image-container4 img {
    width: 300px;  /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    object-fit: cover; /* Maintien de la proportion de l'image sans déformation */
    border: 2px solid pink;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-container4 img:hover {
    transform: scale(1.1);
}

/* Étiquette de l'image */
.image-label4 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container4:hover .image-label4 {
    opacity: 1;
}

.main-content5 {
    padding: 2rem;
    text-align: center;
}

/* Galerie d'images */
.image-gallery5 {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacement horizontal entre les images */
    flex-wrap: wrap; /* Permet aux images de se déplacer sur plusieurs lignes */
    row-gap: 2rem; /* Espacement vertical entre les lignes d'images */
}

.image-container5 {
    position: relative;
    width: 300px;  /* Taille fixe du conteneur d'image */
    margin: 10px;  /* Ajoute de l'espace autour de chaque image */
}

.image-container5 img {
    width: 300px;  /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    object-fit: cover; /* Maintien de la proportion de l'image sans déformation */
    border: 2px solid pink;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-container5 img:hover {
    transform: scale(1.1);
}

/* Étiquette de l'image */
.image-label5 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container5:hover .image-label5 {
    opacity: 1;
}