body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: grey;
}

/* En-tête */
.header {
    position: relative;
    background-image: url('https://www.zoo-parc.fr/wp/files/2016/06/guide-visite-zoo-de-frejus-2-1-1000x288.jpg'); 
    background-size: cover;
    background-position: center;
    height: 30vh; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-title {
    position: absolute;
    font-size: 2.5rem; /* Ajustez la taille du texte selon vos besoins */
    text-align: center;
   border-radius: 5px;
}

.main-content {
    padding: 20px;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color:#927759;
}


/*Listes des services*/

.visites{
    color:black;
    text-align:center;

}
.restauration{
    color:black;
    text-align:center;

}
.animations{
    color:black;
    text-align:center;
}
.boutique{
    color:black;
    text-align:center;
}
.aires-de-jeux{
    color:black;
    text-align:center;
}
.train {
    color:black;
    text-align:center;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}

footer .instagram {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .instagram img, .instagram-logo svg {
    width: 50px;
    height: 50px;
    border-radius: 10px; /* Ajoute des coins arrondis (utile pour les images) */
}

footer .instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre au survol */
}